@import '~ngx-toastr/toastr';
@import 'scss/bootstrap';
@import 'scss/style';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// *****************************************************
// Scrollbars
.nao-fancy-scrollbar-sm {
    &::-webkit-scrollbar {
        height: 8px;
        width: 8px;
    }

    &::-webkit-scrollbar-track-piece {
        background: rgba(9, 30, 66, .08);
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(9, 30, 66, .2);
        border-radius: 4px;
    }
}


.create-an-account-link {
    margin-left: 32px;
    color: #6c757d;
    transition: color 0.1s;

    &:hover {
        color: inherit;
    }

    @include media-breakpoint-down(xs) {
        margin-left: 24px;
    }
}

.font-size-13 {
    font-size: 13px;
}

// disable buttons
button.disabled, button:disabled {
    opacity: 0.65;
}

// message text
.message-text-not-logged {
    font-size: 11px;
    font-weight: 500;
    color: #6c7177;
    margin-top: 10px;
}

// *****************************************************
// Preloader
@keyframes site-preloader-animation {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.site-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fafafa;
    z-index: 99999;
    opacity: 1;
}
.site-preloader::before {
    box-sizing: border-box;
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.6);

    animation-name: site-preloader-animation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.site-preloader__fade {
    transition: opacity 0.3s;
    opacity: 0;
}
